@font-face {
  font-family: "brand-font";
  src: url(../fonts/GE-SS-Two-Light.otf);
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/iransans/IRANSansWeb\(FaNum\).ttf");
}

// @font-face {
//   font-family: headerFontBold;
//   src: url(../fonts/ArbFONTS-DINNextLTArabic-Bold-2.ttf);
// }

// @font-face {
//   font-family: gessBold;
//   src: url(../fonts/ArbFONTS-GE-SS-Text-Bold_26.otf);
// }

// @font-face {
//   font-family: gessMedium;
//   src: url(../fonts/ArbFONTS-GE-SS-Text-Medium_26.otf);
// }

// @font-face {
//   font-family: gessLight;
//   src: url(../fonts/ArbFONTS-GE-SS-Two-Light_28.otf);
// }
